<section id="authBlock my-4">
  <article class="col-md-3 mx-auto card bg-white my-4">
    <div class="card-body">
      <h2 class="h2 font-weight-bold text-secondary text-uppercase py-2">
        Login
      </h2>
      <form action="/auth/login" method="post">

        <div class="form-group"><label for="email">email</label>
          <input
            type="text"
            name="email"
            placeholder="enter the email"
            id="email"
            class="form-control"
          /></div>
        <div class="form-group"><label for="password">password</label><input
            type="password"
            name="password"
            placeholder="enter the password"
            id="password"
            class="form-control"
          /></div>

        <div> <button class="btn btn-primary btn-block my-2">Login</button> </div>

      </form>
    </div>
  </article>
</section>